In [1]:
import pandas as pd
import seaborn as sns 
import numpy as np

print("Import complete")

Import complete

### Change the Unknown to missing values

There are no nan values in the dataset. However I see that there are a lot of unknown values. I infer that missing values are Unknown instead of default NaN values of numpy

In [3]:
missing_values = ["Unknown"]
df = pd.read_csv("/home/srijan/Documents/drexel/datasets/kag_hom_ds.csv" , header = 0 , low_memory=False, na_values=missing_values)

### How many missing values are there in the dataset:

In [28]:
missing_values = df.isna().sum()
missing_values

Record ID                     0
Agency Code                   0
Agency Name                  47
Agency Type                   0
City                          0
State                         0
Year                          0
Month                         0
Incident                      0
Crime Type                    0
Crime Solved                  0
Victim Sex                  984
Victim Age                    0
Victim Race                6676
Victim Ethnicity         368303
Perpetrator Sex          190365
Perpetrator Age               0
Perpetrator Race         196047
Perpetrator Ethnicity    446410
Relationship             273013
Weapon                    33192
Victim Count                  0
Perpetrator Count             0
Record Source                 0
dtype: int64

In [20]:
df.columns

Index(['Record ID', 'Agency Code', 'Agency Name', 'Agency Type', 'City',
       'State', 'Year', 'Month', 'Incident', 'Crime Type', 'Crime Solved',
       'Victim Sex', 'Victim Age', 'Victim Race', 'Victim Ethnicity',
       'Perpetrator Sex', 'Perpetrator Age', 'Perpetrator Race',
       'Perpetrator Ethnicity', 'Relationship', 'Weapon', 'Victim Count',
       'Perpetrator Count', 'Record Source'],
      dtype='object')

In [25]:
total_record = df["Record ID"].count()
print ("Total Records: %s" %(total_record))

Total Records: 638454

### What dimentions can be outright removed based on the missing values?

In [36]:
frame = {"Missing Values": missing_values}
missing_value_df=pd.DataFrame(frame)
missing_value_df["Total Difference"] = total_record - missing_value_df["Missing Values"]
missing_value_df["Perc Remaining Value (%)"] = missing_value_df["Total Difference"]/total_record *100
missing_value_df

,Missing Values,Total Difference,Perc Remaining Value (%)
Record ID,0,638454,100.000000
Agency Code,0,638454,100.000000
Agency Name,47,638407,99.992638
Agency Type,0,638454,100.000000
City,0,638454,100.000000
State,0,638454,100.000000
Year,0,638454,100.000000
Month,0,638454,100.000000
Incident,0,638454,100.000000
Crime Type,0,638454,100.000000
Crime Solved,0,638454,100.000000
Victim Sex,984,637470,99.845878
Victim Age,0,638454,100.000000
Victim Race,6676,631778,98.954349
Victim Ethnicity,368303,270151,42.313307
Perpetrator Sex,190365,448089,70.183443
Perpetrator Age,0,638454,100.000000
Perpetrator Race,196047,442407,69.293481
Perpetrator Ethnicity,446410,192044,30.079536
Relationship,273013,365441,57.238423
Weapon,33192,605262,94.801192
Victim Count,0,638454,100.000000
Perpetrator Count,0,638454,100.000000
Record Source,0,638454,100.000000

### Some Insights 
1. Perpetrator Ethnicity has only **30%** values 
1. Victim Ethnicity has only **42%** values 
1. Relationship has only **57%** values 

#### Best to get rid of these values as basing the model will require removing lot of values.

In [38]:
to_drop = ["Perpetrator Ethnicity" , "Victim Ethnicity" , "Relationship" ]
df = df.drop(labels = to_drop , axis =1)
df.columns

Index(['Record ID', 'Agency Code', 'Agency Name', 'Agency Type', 'City',
       'State', 'Year', 'Month', 'Incident', 'Crime Type', 'Crime Solved',
       'Victim Sex', 'Victim Age', 'Victim Race', 'Perpetrator Sex',
       'Perpetrator Age', 'Perpetrator Race', 'Weapon', 'Victim Count',
       'Perpetrator Count', 'Record Source'],
      dtype='object')

# Conclusion 

1. There were no NaN missing values 
1. Dimensions with maximum number of missing values have been removed

In [41]:
df.to_csv(path_or_buf= "/home/srijan/Documents/cleenupcode")

In [7]:
cdf["Victim Count"].groupb

array([ 0,  2,  1,  3,  6,  4,  5,  9,  7,  8, 10])

In [8]:
df.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,NaN,Male,15,Native American/Alaska Native,NaN,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,NaN,Male,42,White,NaN,Acquaintance,Strangulation,0,0,FBI
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,...,NaN,NaN,0,NaN,NaN,NaN,NaN,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,NaN,Male,42,White,NaN,Acquaintance,Strangulation,0,0,FBI
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,...,NaN,NaN,0,NaN,NaN,NaN,NaN,0,1,FBI

In [19]:
df['Agency Type'].unique()

array(['Municipal Police', 'County Police', 'State Police', 'Sheriff',
       'Special Police', 'Regional Police', 'Tribal Police'], dtype=object)