In [1]:
import numpy as np 
import pandas as pd 
from sklearn.linear_model import LogisticRegression 
print("Import Complete ")

Import Complete

In [78]:
train_df = pd.read_csv(filepath_or_buffer = "./data/homicidesTrain.csv")
test_df = pd.read_csv(filepath_or_buffer = "./data/homicidesTest.csv")
final_df = pd.read_csv(filepath_or_buffer = "./data/homicidesFinal.csv")

train_df = train_df.drop(columns=['Unnamed: 0'])
test_df = test_df.drop(columns=['Unnamed: 0'])
final_df = final_df.drop(columns=['Unnamed: 0'])

In [15]:
print("Train Count: %d" %train_df["State"].count())
print("Test Count: %d" %test_df["State"].count())
print("Total Count: %d" %final_df["State"].count())
print("Train and Test Add up")

Train Count: 509620
Test Count: 89933
Total Count: 599553
Train and Test Add up

In [4]:
df.describe()

          Unnamed: 0     Victim Age
count  509620.000000  509620.000000
mean   299539.612462      33.316962
std    173059.252731      17.183093
min         0.000000       0.000000
25%    149657.750000      22.000000
50%    299331.500000      29.000000
75%    449289.250000      41.000000
max    599552.000000      99.000000

In [56]:
final_df.head()

,State,Crime Solved,Victim Sex,Victim Age,Victim Race,Weapon
0,Alaska,Yes,Male,14,Native American/Alaska Native,Blunt Object
1,Alaska,Yes,Male,43,White,Strangulation
2,Alaska,Yes,Male,43,White,Strangulation
3,Alaska,Yes,Male,30,White,Rifle
4,Alaska,Yes,Female,42,Native American/Alaska Native,Knife

### State Map

In [46]:
state_list = ['Alaska', 'Alabama', 'Arkansas', 'Arizona', 'California',
       'Colorado', 'Connecticut', 'District of Columbia', 'Delaware',
       'Florida', 'Georgia', 'Hawaii', 'Iowa', 'Idaho', 'Illinois',
       'Indiana', 'Kansas', 'Kentucky', 'Louisiana', 'Massachusetts',
       'Maryland', 'Maine', 'Michigan', 'Minnesota', 'Missouri',
       'Mississippi', 'Montana', 'Nebraska', 'North Carolina',
       'North Dakota', 'New Hampshire', 'New Jersey', 'New Mexico',
       'Nevada', 'New York', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhodes Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Virginia', 'Vermont', 'Washington', 'Wisconsin',
       'West Virginia', 'Wyoming']

state_map = {} 
i =0 

for state in state_list: 
    state_map[state] = i
    i+=1

print(state_map)

{'Alaska': 0, 'Alabama': 1, 'Arkansas': 2, 'Arizona': 3, 'California': 4, 'Colorado': 5, 'Connecticut': 6, 'District of Columbia': 7, 'Delaware': 8, 'Florida': 9, 'Georgia': 10, 'Hawaii': 11, 'Iowa': 12, 'Idaho': 13, 'Illinois': 14, 'Indiana': 15, 'Kansas': 16, 'Kentucky': 17, 'Louisiana': 18, 'Massachusetts': 19, 'Maryland': 20, 'Maine': 21, 'Michigan': 22, 'Minnesota': 23, 'Missouri': 24, 'Mississippi': 25, 'Montana': 26, 'Nebraska': 27, 'North Carolina': 28, 'North Dakota': 29, 'New Hampshire': 30, 'New Jersey': 31, 'New Mexico': 32, 'Nevada': 33, 'New York': 34, 'Ohio': 35, 'Oklahoma': 36, 'Oregon': 37, 'Pennsylvania': 38, 'Rhodes Island': 39, 'South Carolina': 40, 'South Dakota': 41, 'Tennessee': 42, 'Texas': 43, 'Utah': 44, 'Virginia': 45, 'Vermont': 46, 'Washington': 47, 'Wisconsin': 48, 'West Virginia': 49, 'Wyoming': 50}

### Race Map

In [52]:
victim_race_list = final_df["Victim Race"].unique()
victim_race_map = {} 
i = 0
for victim_race in victim_race_list:
    victim_race_map[victim_race] = i
    i+=1 

print(victim_race_map)

{'Native American/Alaska Native': 0, 'White': 1, 'Black': 2, 'Asian/Pacific Islander': 3}

### Weapon Map

In [54]:
weapon_list = final_df["Weapon"].unique()
weapon_map = {} 
i = 0
for weapon in weapon_list: 
    weapon_map[weapon] = i
    i+=1

print(weapon_map)

{'Blunt Object': 0, 'Strangulation': 1, 'Rifle': 2, 'Knife': 3, 'Firearm': 4, 'Shotgun': 5, 'Fall': 6, 'Handgun': 7, 'Drowning': 8, 'Suffocation': 9, 'Explosives': 10, 'Fire': 11, 'Drugs': 12, 'Gun': 13, 'Poison': 14}

### Sex and Solved Maps

In [57]:
sex_map = {"Male" : 0 , "Female":1}
solved_map = {"Yes":1 , "No":0}

### Create Lambda Conversion Functions

In [74]:
# Data Transformation To Numeric Value 
sex_convert = lambda x: sex_map[x]
solved_convert = lambda x: solved_map[x] 
state_convert = lambda x: state_map[x]
race_convert = lambda x: victim_race_map[x]
weapon_convert = lambda x: weapon_map[x]


lambda_list = [state_convert , solved_convert ,sex_convert , race_convert
              ,weapon_convert]
columns_list = list(final_df.columns)
columns_list.remove('Victim Age')
df_list = [test_df , train_df, final_df]

## Transform Cells

In [80]:
for i in range (0 , len(lambda_list)):
    final_df[columns_list[i]] = final_df[columns_list[i]].apply(lambda_list[i])

for i in range (0 , len(lambda_list)):
    test_df[columns_list[i]] = test_df[columns_list[i]].apply(lambda_list[i])

for i in range (0 , len(lambda_list)):
    train_df[columns_list[i]] = train_df[columns_list[i]].apply(lambda_list[i])

## Training Data

In [103]:
log_reg = LogisticRegression(solver = "lbfgs")
log_reg.fit(train_df.drop(columns=["Crime Solved"]) , train_df["Crime Solved"])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Predict

In [101]:
x_test = test_df.drop(columns=["Crime Solved"])
y_test = test_df["Crime Solved"]
output_values = log_reg.predict(x_test)

In [95]:
actual_values = test_df["Crime Solved"]
print("Actual Size: %d Predict Size: %d " 
      %(len(actual_values), len(output_values)))

correct_prediction =0 
for i in range(0 , len(output_values)): 
    if actual_values[i] == output_values[i]:
        correct_prediction+=1
accuracy = correct_prediction / len(actual_values) * 100
print("Accuracy %.2f"  %(accuracy))

Actual Size: 89933 Predict Size: 89933
Accuracy 71.07

In [105]:
score = log_reg.score(x_test, y_test)
print(score)

0.7107402177176343